{% extends 'main.html' %}
{% load static %}

{% block content %}

<style>
    .home-container {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }
</style>

<div class="home-container">
    <div>
        <h3>Browse Topics</h3>
        <hr>
        <div>
            <a href="{% url 'home' %}" >All </a>
        </div>
        {% for topic in topics %}
            <div>
                <a href="{% url 'home' %}?q={{topic.name}}" >{{topic.name}} </a>
            </div>
        {% endfor %}
    </div>
    <div>
        <h5>{{room_count}} rooms available </h5>
        <a href="{% url 'create_room' %}">Create Room</a>
        {% for room in rooms %}
            <div>
                {% if request.user == room.host %}
                    <a href="{% url 'update_room' room.id %}">Edit</a>
                    <a href="{% url 'delete_room' room.id %}">Delete</a>
                {% endif %}
                <span>@{{room.host.username}}</span>
                <h5>{{room.id}} -- <a href="{% url 'room' room.id %}">{{room.name}}</a>
                <h3>{{room.topic}} </h3>
                <hr>
            </div>

        {% endfor %}
    </div>
    <div>
        <h3>Recent Activity</h3>
        <hr>
        {% for message in room_messages %}
            <div>
                <small>@{{message.user}} {{message.date|timesince}} ago</small><br>
                <small>replied to "{{message.room}}"</small>

                <p>{{message}}</p>
                {% if request.user == message.user %}
                <a href="{% url 'delete-message' message.id %}">Delete</a>
                <hr>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}


