{% extends 'main.html' %}
{% load static %}

{% block content %}

<div>
    <h4 style="font-size:25px; text-align:center;"> <a href="{% url 'create_room' %}">Create Room</a><h4>
    <hr>
    <div>

        {% for room in rooms %}
            <div>
                <a href="{% url '' %}"></a>
                <span>@{{room.host.username}}</span>
                <h5>{{room.id}} -- <a href="{% url 'room' room.id %}">{{room.name}}</a>
                    <hr>
            </div>

        {% endfor %}
    </div>
</div>

{% endblock %}


