{% extends 'main.html' %}
{% load static %}

{% block content %}

<style>
    .home-container {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }
</style>

<div class="home-container">
    <div>
        {% include 'topics_component.html' %}
    </div>
    <div>
        <h5>{{room_count}} rooms available </h5>
        <a href="{% url 'create_room' %}">Create Room</a>
        {% include 'feed_component.html' %}
    </div>
    <div>
        {% include 'activity_component.html' %}
    </div>
</div>

{% endblock %}


