{% extends 'main.html' %}

{% load static %}

{% block content %}

<div>
    <form action="" method="POST">
        {% csrf_token %}
        <label for="">Username: </label>
        <input type="text" name="username" placeholder="Enter your username"  id="">
        <label for="">Password: </label>
        <input type="password" name="password" placeholder="Enter password"  id="">

        <input type="submit" value="Login">
    </form>
    <h3>
</div>

<div>
    <form action="" method="POST">
        {% csrf_token %}
        

        <input type="submit" value="Register">
    </form>
</div>

{% endblock %}