{% extends 'main.html' %}

{% load static %}

{% block content %}

{% if page == 'login' %}
<div>
    <form action="" method="POST">
        {% csrf_token %}
        <label for="">Username: </label>
        <input type="text" name="username" placeholder="Enter your username"  id="">
        <label for="">Password: </label>
        <input type="password" name="password" placeholder="Enter password"  id="">

        <input type="submit" value="Login">
    </form>
    <h3>haven't signed up yet?</h3>
    <a href="{% url 'register' %}" >Register </a>
</div>
{% else %}
<div>
    <form action="" method="POST">
        {% csrf_token %}
        
        {{ form.as_p }}
        <input type="submit" value="Register">
    </form>
    <h3>Already have you account?</h3>
    <a href="{% url 'login' %}" >Login </a>
</div>
{% endif %}
{% endblock %}