{% extends 'main.html' %}

{% block content %}

<style>
    .sulo1{
        margin-top: 15px;
        display: grid;
        
        align-items: center;
        justify-content: center;
        min-height: 50vh;
    }
    .sulo2{
        display: grid;
        font-size: 25px;
    }
    input{
        display: block;
        border-radius: 8px;
        margin-bottom: 15px;
        color: azure;
        width: 350px;
    }
    ul
    {
        display: none;
        color: blue;
    }
   
</style>


<!-- Main Section -->
<main class="formPage my-xl">
    <div class="sulo1">
        <div class="sulo2">
            <h3>Enter new password</h3>

            <p>Please enter your new password twice so we can verify you typed it in correctly.</p>

            <br>

            <form class="form" method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <button class="btn btn--main" style="font-size: medium; margin-left: 20px" type="submit" >Submit</button>
            </form>
        </div>
    </div>
</main>

{% endblock content %}